apiVersion: batch/v1
kind: CronJob
metadata:
  name: tv-detection1-scheduler
  namespace: tv-detection
spec:
  schedule: "*/30 * * * *"
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: tv-detection1
            image: ghcr.io/dcaulton/tv-detection1:latest
            envFrom:
            - secretRef:
                name: tv-detection1-secrets
            volumeMounts:
            - mountPath: /data
              name: data
            resources:
              requests:
                cpu: 200m
                memory: 512Mi
              limits:
                cpu: 1000m
                memory: 1Gi
          volumes:
          - name: data
            hostPath:
              path: /mnt/data/tv-detection/tv-detection1
          restartPolicy: OnFailure
